:root {
  --blue-1: #cddeee;
  --blue-2: #abc7e3;
  --blue-3: #88b0d7;
  --blue-4: #6699cc;
  --blue-5: #4482c1;
  --blue-6: #366ba1;
  --blue-7: #2a547e;

  --font-size-1: 4rem;
  --font-size-2: calc(var(--font-size-1) * 0.75);
  --font-size-3: calc(var(--font-size-1) * 0.5);
  --font-size-4: calc(var(--font-size-1) * 0.375);
  --font-size-5: calc(var(--font-size-1) * 0.25);

  --content-width: 40rem;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background: linear-gradient(135deg, var(--blue-1), var(--blue-2));
}

/* 
░█▀▀░█▀▀░█▀▀░▀█▀░▀█▀░█▀█░█▀█
░▀▀█░█▀▀░█░░░░█░░░█░░█░█░█░█
░▀▀▀░▀▀▀░▀▀▀░░▀░░▀▀▀░▀▀▀░▀░▀
 */
.section {
  min-height: 100svh;

  > h1 {
    margin: 0 auto;
    padding: var(--font-size-5) 0;
    font-size: var(--font-size-1);

    color: var(--blue-7);
    background: white;

    max-width: var(--content-width);
    width: 100%;
    border-radius: 15px;

    text-align: center;

    transition: all 100ms ease-out;
  }

  > h2 {
    margin: var(--font-size-3) auto;

    padding: var(--font-size-5) 0;
    font-size: var(--font-size-2);

    color: var(--blue-7);
    background: white;

    max-width: var(--content-width);
    width: 100%;
    border-radius: 8px;

    text-align: center;
  }
}

/* 
░█▀█░█▀▄░█▀▀░█▀▀░█▀▀░█▀█░▀█▀░█▀█░▀█▀░▀█▀░█▀█░█▀█
░█▀▀░█▀▄░█▀▀░▀▀█░█▀▀░█░█░░█░░█▀█░░█░░░█░░█░█░█░█
░▀░░░▀░▀░▀▀▀░▀▀▀░▀▀▀░▀░▀░░▀░░▀░▀░░▀░░▀▀▀░▀▀▀░▀░▀
 */
.presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: var(--font-size-5);

  /* Name */
  h1:hover {
    box-shadow: #00000030 0 3px 4px;
    transform: translateY(-3px) scale(1.01);
  }

  /* Expertises */
  p {
    padding: var(--font-size-5) 0;
    font-size: var(--font-size-5);

    color: white;
    background: var(--blue-7);

    width: var(--content-width);
    border-radius: 15px;

    text-align: center;

    transition: all 100ms ease-out;

    &:hover {
      box-shadow: #00000030 0 3px 4px;
      transform: translateY(-3px) scale(1.01);
    }
  }
}

/* 
░█▀█░█▀▄░█▀█░█░█░▀█▀░░░█▄█░█▀▀
░█▀█░█▀▄░█░█░█░█░░█░░░░█░█░█▀▀
░▀░▀░▀▀░░▀▀▀░▀▀▀░░▀░░░░▀░▀░▀▀▀
 */
.aboutme {
  /* I love ... */
  h3 {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 1rem;
    font-size: var(--font-size-1);
    color: var(--blue-7);
    max-width: var(--content-width);
    text-align: center;
  }

  /* Text emphasis */
  span {
    position: relative;
    flex: 1 1 content;
    background: var(--blue-7);
    color: var(--blue-1);
    padding: 0 var(--font-size-5);
    border-radius: 15px;

    transition: all 150ms ease-out;

    &:hover {
      box-shadow: #00000030 0 3px 4px;
      transform: translateY(-3px) scale(1.01);
    }
  }

  /* Story */
  .story {
    display: block;
    margin: 4rem auto 0;
    font-size: var(--font-size-3);
    text-align: justify;
    gap: 4px;

    span:hover {
      top: -2px;
    }
  }
}

/* 
░█▀▀░█▀█░█▀▄░█▀▄░█▀▀
░█░░░█▀█░█▀▄░█░█░▀▀█
░▀▀▀░▀░▀░▀░▀░▀▀░░▀▀▀
 */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  justify-items: center;

  margin: 0 auto;
  padding: 0 var(--font-size-5);

  max-width: var(--content-width);
  min-height: 240px;

  gap: var(--font-size-5);

  .card {
    cursor: pointer;

    max-width: 320px;
    min-height: 240px;

    position: relative;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background: #fafaff;
    padding: var(--font-size-5);

    gap: var(--font-size-5);

    --border-size: 8px;
    border-radius: var(--border-size);
    border-top: var(--border-size) solid var(--blue-3);
    transition: all 100ms ease-out;

    /* Link icon */
    i {
      opacity: 0;
      color: #00000060;
      position: absolute;
      font-size: 0.9rem;
      top: 0.2rem;
      right: 0.2rem;
      padding: 0;
      margin: 0;
      transition: all 150ms;
    }

    /* Title */
    h3 {
      font-size: 1.5rem;
      background: #000000df;
      width: 100%;
      margin: 0 auto;
      color: white;
      padding: 0.2rem 0;
      border-radius: 8px;
      text-align: center;

      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    /* Image */
    img {
      border-style: solid;
      border-color: var(--blue-1);
      border-width: 2px;
      border-radius: 8px;
      aspect-ratio: 4 / 3;
      object-fit: cover;
    }

    /* Description */
    p {
      font-size: 0.8rem;
      text-align: justify;
      color: var(--blue-7);
      background: var(--blue-1);
      border-radius: 8px;
      padding: 0.5rem;
    }

    &:hover {
      box-shadow: #00000030 0 3px 4px;
      transform: translateY(-3px) scale(1.01);
      /* Hovering over the card, makes the icon visible */
      i {
        opacity: 1;
      }
    }

    /* Top border line colors */
    &.card-blue {
      border-color: #a0e7e5;
    }
    &.card-green {
      border-color: #b4f8c8;
    }
    &.card-yellow {
      border-color: #fbe7c6;
    }
    &.card-pink {
      border-color: #ffaebc;
    }
  }
}

/* 
░█▀▀░█▀█░█▀█░▀█▀░█▀▀░█▀▄
░█▀▀░█░█░█░█░░█░░█▀▀░█▀▄
░▀░░░▀▀▀░▀▀▀░░▀░░▀▀▀░▀░▀
*/
footer {
  background: var(--blue-7);
  color: white;
  margin: var(--font-size-1) 0 0;
  padding: var(--font-size-5);
  display: flex;
  flex-wrap: wrap;
  place-content: center;

  h4 {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-3);
    margin: 0;
  }

  p {
    font-size: var(--font-size-5);

    a {
      cursor: pointer;
      color: var(--blue-2);
    }
  }
}

/*
░█▄█░█▀▀░█▀▄░▀█▀░█▀█░░░▄▀▄░█░█░█▀▀░█▀▄░▀█▀░█▀▀░█▀▀
░█░█░█▀▀░█░█░░█░░█▀█░░░█\█░█░█░█▀▀░█▀▄░░█░░█▀▀░▀▀█
░▀░▀░▀▀▀░▀▀░░▀▀▀░▀░▀░░░░▀\░▀▀▀░▀▀▀░▀░▀░▀▀▀░▀▀▀░▀▀▀ 
*/
@media screen and (max-width: 700px) {
  :root {
    --content-width: 30rem;
    --font-size-1: 3rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --content-width: 20rem;
    --font-size-1: 2rem;
  }
}
